<h1>Dojo Activity Center                                        Welcome, @Model.User.Name   <a href="/logout">Logout</a></h1>
<table class="table table-striped">
    <thead>
        <tr>
        <th scope="col">Activity</th>
        <th scope="col">Date and Time</th>
        <th scope="col">Duration</th>
        <th scope="col">Event Coordinator</th>
        <th scope="col">No. of Participants</th>
        <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Activity eachActivity in Model.Activities){
            if(DateTime.Compare((DateTime)eachActivity.Date, DateTime.Now)>0){
            <tr>
            <th scope="row"><a href="/activity/@eachActivity.ActivityId">@eachActivity.Title</a></th>
            <td>@eachActivity.Date.ToString("M/d") at @eachActivity.Time.ToString("t", new System.Globalization.CultureInfo ("en-us"))</td>
            <td>
                @if(eachActivity.DurationType==1){
                    <p>@eachActivity.Duration Minutes</p>
                }else if(eachActivity.DurationType==2){
                    <p>@eachActivity.Duration Hours</p>
                }else{
                    <p>@eachActivity.Duration Days</p>
                }
            </td>
            <td>@eachActivity.Creator.Name</td>
            <td>@eachActivity.GuestsOfActivity.Count()</td>
            @if(eachActivity.Creator.UserId == Model.User.UserId){
                <td><a href="/delete/@eachActivity.ActivityId">Delete</a></td>
            }else{
                if(eachActivity.GuestsOfActivity.Any(p => p.User.UserId == Model.User.UserId)){
                    <td><a href="/unrsvp/@eachActivity.ActivityId">Leave</a></td>
                }else{
                    <td><a href="/rsvp/@eachActivity.ActivityId">Join</a></td>
                }
            }
            </tr>
            }
            
        }
    </tbody>
</table>
<a href="/new">Add New Activity</a>